<app-custom-navbar></app-custom-navbar>

<div class="shadow bg-white rounded main-body">
  <h2>About me</h2>
  <p>I am a PhD student at the University of Montreal (Canada) and the University of Lorraine (France) focussing on Computer Science, Machine Learning and Natural Language Processing. My thesis is cosupervised by Christophe Cerisara (University of Lorraine) and Philippe Langlais (University of Montreal).</p>
  <p>My research interests right now involve the study of biases that exist in machine learning datasets and of solutions to either prevent models from learning these biaises or create new unbiased data using mainly unsupervised or weakly supervised methods. My current application domains are Optical Character Recognition (OCR) and Question Answering.</p>
  <p>I'm also a beginner photographer and I will regularly post my best images here.</p>
  <h2>Contact Information</h2>
  <p>I'm currently living in Montreal, QC, Canada</p>
  <p>For research purposes: <b>guillaume.le.berre(at)umontreal.ca</b> or <b>guillaume.le-berre(at)loria.fr</b></p>
</div>

<div #pub class="shadow bg-white rounded main-body">
  <h2>Publications</h2>
</div>
