.main-body {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  padding: 15px;
}

@media(max-width: 1000px) {
  .main-body {
    margin: 20px;
    width: auto;
  }
}

.p {
  text-align: justify;
  text-justify: inter-word;
}
