.nav-item {
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
}

.navbar-toggler {
  border: none;
}

.nav-img {
  filter: invert(100%);
  transition: transform .7s ease-in-out;
}

.nav-img:hover {
  transform: rotate(90deg);
}
