<div class="view overlay shadow rounded mb-4 img-div">

  <img src="{{thumbnail}}" class="w-100 img-fluid" alt="">

  <a (click)="frame.show()"><div class="mask img-mask rounded flex-center"><p class="caption">{{caption}}</p></div></a>

</div>

<!--Modal-->
<div mdbModal
     #frame="mdbModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
     style="overflow-y: auto">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="max-height: 90vh; width: auto">
    <div class="modal-content" style="max-height: 90vh; width: auto">
      <img #hr class="window-height" src="{{hr_img}}" style="max-height: 90vh; width: auto"/>
    </div>
  </div>
</div>
<!--/.Modal-->
