.img-mask {
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption {
  align-self: flex-end;
}

.img-div {
  transition: transform .3s ease-in-out;
}

.img-div:hover {
  transform: scale(1.02)
}
